* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

@font-face {
  font-family: "Hare";
  src: url(../font/Harenosora.otf);
}

@font-face {
  font-family: ”;
  src: url(../font/)
}
body {
  background-color: #F4F9F8;
  color: #62483C;
  font-family: "Hare";
}

header {
  width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 6%;
    position: fixed;
    top: 0;
    z-index: 30;
    text-align: right;
  
}

.header-p{
  font-family: "Skia";
  margin: 0 0 0 auto;
}

.top-i{
  width : 140px;
  margin-top: 100px;
}


.hsi-img{
  width: 50px;
}

.header-nav-list {
  margin-top: 29px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-left{
  display: flex;
}

.header-nav-list li {
  display: inline-block;
  margin: 0 2.5vw;
  margin-top: 80px;
  margin-right:30px;
}

.header-nav-list a {
 
  font-family: "Skia";
  text-decoration: none;
  color: #7C685C;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;

}


.gari1{
  width: 40%;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 30%;
}

.to-back{
  width: 60%;
  z-index: 10;
}

.to-next{
  width: 60%;
  z-index: 10;
}

.bottom-b-img{
  width: 100%;
  position: absolute;
}

.main-visual {
  width: 100%;
  height: 100vh;
  padding-top: 0px;
  position: relative;  
}

.main-visual-title {
  
  position: absolute;
  width: 60%;
  top: 0%;
  left: 0%;
  font-size: 70px;
  line-height: 2; 
}

.main-visual-title span { 
  padding: 0px;
}

svg {
  width: 100%;
  height: 100%;
}

.st0 {
  stroke: #62483C;
  stroke-width: 1px;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  fill: none;
  animation: main-animation 3 ease-in alternate forwards;
}

.st1 {
  stroke:#62483C;
  fill: none;
  stroke-width: 0.5;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: main-animation 3s ease-in alternate forwards;
}

@keyframes main-animation {
  0% {
    stroke-dashoffset: 5000;
}
  70%{
    fill:transparent;
}
  100% {
    stroke-dashoffset: 0;
    fill: #62483C;
}
  
}

.top-go{
  position: fixed;
  bottom: 8%;
  right: 6%;
  width: 100px;
  z-index: 20;
}

.back-green {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 75vh;
  background-color: #CAE3DE;
  z-index: -1;

}

.main-visual-img-wrap {
  width: 100%;
  height: 100%;
  float: right;
  margin-right: 0%;
  
}

.main-visual-img-wrap img {
  width: 100%;
  height: 100%; 
  object-fit: fill;
  object-position: bottom;
}

.syojo-wrap{
  position: absolute;
  bottom: 100px;
  right: 300px;
  width: 20vw;
}

.syojo-wrap img{
  object-fit: contain;
}


.main-visual-scroll {
  width: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
}

.main-visual-scroll img {
  width: 100%;
}

.main-visual-scroll p {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  font-family: "QS";
}


.concept-title, .diary-title{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 30px;
}
.sab-concept-title, .sab-diary-title{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
}
.concept-text, .diary-text{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.concept-img {
  width: 100%
}
.catch-copy-title {
  color: #82cbca;
  font-size: 32px;
  font-weight: 600;
  font-family: "QS";
  margin-bottom: 40px;
}

.catch-copy-text {
  line-height: 2;
}

.slide-show{
  position: relative; /*追加*/
}

.ss-center{
  width: 100%;
  text-align: center; /*追加*/
}
.cp-kami{
  width: 60%;
}
.ss-left,.ss-right{
  width: 50px;
  
}
.arrow{
  /* width: 100%;
  height: auto; */

  width: 4%;
  position: absolute;
  top:160px;
  
}

.arrow-left{
  left:5%;
}

.arrow-right{
  right:5%;
}

.slide {
  display: none;
  width: 100%;
  text-align: center; 
}

.active {/*.slide{...}よりも下に記述*/
  display: block;
  width: 100%;
  text-align: center;
}

.maru {
  width:10px;
  height: 10px;
  border: solid 1px #7C685C;
  border-radius: 50%;
  background-color: transparent;
}

.maru-active {
  background-color: #7C685C;
}
.concept-maru{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  margin: 50px auto;
  width: 25%;
}
.diary-list{
  display: flex;
  justify-content: space-around;
  align-items: center; 
  flex-wrap: wrap;
  list-style: none;
  max-width: 800px;
  margin: 100px auto;
}

.diary-list li{
  width: 220px;
  margin-bottom: 60px
}

.d-img{
  width: 220px;
  height:auto;
}
.day{
  color:#7C685C;
  font-size: 17px; 
  text-align:center;
}

.slidesan{
  width: 100%
}


/* ここからフッター */

footer {
  background-color: #CAE3DE;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10%;
  position: relative;
}

.scroll-top {
  width: 60px;
  text-decoration: none;
  color: #231300;
}

.scroll-top img {
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 4px;
}

.scroll-top p {
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.08em;
}

.copyright {
  font-family:"Skia";
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  
}

.back-next{
  display: flex;
  justify-content: space-between;
  width:100%;
  padding-top: 20%;
}

.back-next-day1{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 20%;
}


.back-next a {
    width: 20%;
    display: flex;
    justify-content: center;
}

.back-next-day1 a{
    width: 20%;
    display: flex;
    justify-content: center;
}

/* 個別記事ページ */

.top-back-img{
  width:100vw;
  position: absolute;
  top: 0;
}

.top-b-img{
  width:100%;
}

.diary-p{
  width: 60vw;
  margin: 300px auto 50px;
}
.diary-p img{
  width: 100%;

}

.diary-paper{
  width:80%;
  position: relative;
  z-index: 20;
}




/*レスポンシブデザインするときのおまじない　*/
@media screen and (max-width: 420px){

  .maru{
    width: 8px;
    height:8px;
  }

  .concept-maru{
    margin:auto;
  }
  .concept-title, .diary-title{
    font-size:20px;
  }
  .sab-concept-title, .sab-diary-title{
    font-size: 10px;
  }
  .concept-text, .diary-text{
    font-size:13px;
  }
  .hsi-img{
    width:25px;
  }
  .header-p{
    font-size: 10px;
  }

  .main-visual-img-wrap img{
    object-fit: contain;
  }

  .main-visual-title{
    top: 12%;
    left: 0%;
    width: 80%;
    font-size: 45px;
    line-height: 2.5;
}
  

  .main-visual-scroll{
    width: 38px;
    bottom: 50px;
  }

  .arrow{
    width: 65%;
  }
  .cp-kami{
    width: 90%;
  }

  .top-go{
    width: 80px;
  }

  .arrow{
    top:180px;
    width: 7%;
  }

  .cp-kami{
    width: 80%;
  }

  .top-i{
    width: 60px;
    margin-top: 30px;
  }

  

  .header-nav-list a{
    font-size: 8px;
  }


  .gari1{
    width: 55%;
    top: 22%;
    left: 22%;
  }

  .to-next{
    width: 100%;
  }

  .to-back{
    width: 100%;
  }

  .back-next{
    padding: 0 10%;
  }

  .back-next-day1{
    padding: 0 10%;
  }

  .bottom-b-img{
    bottom: 0;
  }

  .header-nav-list li{
    display: inline-block;
    margin: 70px 2.0vw;
  }

  .header-nav-list ul{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    text-align: center
  }


  .diary-p{
    width: 80vw;
    margin: 120px auto 50px;
  }

  .top-go{
    display: none;
  }

  .syojo-wrap{
    position: absolute;
    bottom: 150px;
    right: 30px;
    width: 50vw;
  }




}

@media screen and (max-width: 320px){

  .main-visual-title {
    top: 10%;
    left: 0%;
    width: 80%;
    font-size: 40px;
    line-height: 2.5;}
  }

